<h1>Found <%= @vehicles.size %> connected car(s) !</h1>
<hr/>
<div style="font-size: x-large">
  <% @vehicles.each do |vehicle|%>
    <hr/>
    <div>
      Vehicle Info : <%= "#{vehicle.vehicle_attributes.year} - #{vehicle.vehicle_attributes.make} #{vehicle.vehicle_attributes.model}"  %>
      <br/><br/>
      VIN: <%= vehicle.vin %>
      <br/><br/>
      Odometer Reading : <%= vehicle.odometer.distance.floor %> miles
      <br/><br/>
    </div>
    <hr/>
  <% end %>
  <hr/>
</div>
<h2>To start over please visit <a href="/login">login page(/login) </a></h2>
